/* * {
    border: 1px solid white;  
} */

body {
    background-color: rgb(29, 29, 38);
    width: 700px;
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 30px;
}
.board {
    width:650px;
    display: flex;
    flex-wrap: wrap;
    padding: 25px;
}
.cards {
    padding: 5px;
}
.score {
    color:darkgrey; 
}
.messages {
    color: white;
    height: 40px;
    text-align: center;
}