body {
    background-color: rgb(29, 29, 38);
    width: 700px;
    /* height: 470px; */
}

.board {
    margin: 25px;
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.cards {
    padding: 5px;
}